<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">表格面板</div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" v-model="name">
                    </div>
                    <input type="submit" class="btn btn-primary" value="添加" @click.prevent="addData">
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>ctime</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list" ::key="item.id">
                        <td v-cloak>{{ item.id }}</td>
                        <td v-cloak>{{ item.name }}</td>
                        <td v-cloak>{{ item.ctime | fromDate }}</td>
                        <td v-cloak>
                            <input type="button" class="btn btn-danger" value="删除" @click.prevent="delData(item.id)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="../lib/js/axios.min.js"></script>
<script src="../lib/js/vue.js"></script>
<script src="../lib/js/moment.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            name: null,
            list: null,
            msg: 'ok'
        },
        methods: {
            // 获取品牌列表
            getData() {
                axios.get("http://www.liulongbin.top:3005/api/getprodlist").then(res => {
                    // console.log(res.data.message);
                    if (res.data.status == 0) return this.list = res.data.message
                    else alert('数据获取失败')
                })
            },
            // 添加品牌列表
            addData() {
                // setInterval(() => {
                axios.post("http://www.liulongbin.top:3005/api/addproduct", { name: this.name }).then(res => {
                    this.getData()
                    console.log(res);
                })
                // })
            },
            // 删除品牌列表
            delData(id) {
                setInterval(() => {
                    axios.get("http://www.liulongbin.top:3005/api/delproduct/" + id).then(res => {
                        console.log(res);
                    })
                    this.getData()
                    id++
                })
            }
        },
        filters: {
            // 日期过滤器
            fromDate(msg) {
                return moment(msg).format("YYYY-MM-DD hh:mm:ss")
            }
        },
        created() {
            this.getData()
        },
    });
</script>

</html>